@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

body {
    margin: 0;
    font-family:'Comic Neue', cursive;
}

.navigationbar {
    background: rgb(70,65,145);
    background: linear-gradient(90deg, rgba(70,65,145,1) 21%, rgba(161,160,209,1) 48%, rgba(198,198,235,1) 68%, rgba(86,160,175,1) 89%);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.lefttnavigationbar {
    display: flex;
    column-gap: 5px;
}

.leftnavigationbar a, .rightnavigationbar a {
    padding: 10px;  
    background-color: #333;
    text-decoration: underline;
    color: white;
    
}

.leftnavigationbar a:hover{
    background-color: grey;
    cursor: pointer;
}


.rightnavigationbar a:hover {
    background-color: grey;
    cursor: pointer;
}   



header {
    margin-top: 55px;
}

main {
    background-color: #b1c4cc ;
    padding-top: 20px;
}

.images {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
}

.images:hover {
    cursor: pointer;
}

button {
    margin-left: 48%;
}

h2 {
    margin: auto;
    padding-top: 10px;
}

.information{
    background-color: rgb(174, 179, 184);
    margin-top: 0;
}

footer {
    background-color: rgb(174, 179, 184);
    margin-top: 0;
}

fieldset {
    padding-left: 50%;
    padding-right: 50%;
    align-items: center;
    padding: 8px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/mountainnavigationbar.jpg);
}

.foot {
    display: flex;
    justify-content: space-around;
    background-color: rgb(174, 179, 184);
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: space-around;
}

.icon-sc {
    width: 40px;
    height: 40px;
}

.icon-tp {
    width: 100px;
    height: 60px;
}

@media only screen and (min-width: 600px) {
    .icon {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .leftnavigationbar, .rightnavigationbar {
        display: none;
    }
}